* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.container {
  width: 70%;
  margin: 2% auto;
}

.slides {
  display: flex;
  flex-direction: column;
}

.slider {
  overflow: hidden;
  border: 0.5em solid #ffffff;
}

.navigation {
  display: flex;
  align-self: end;
  margin-bottom: -3rem;
  z-index: 2;
  background-color: black;
}

label {
  border-radius: 50%;
  padding: 3rem 0;
  cursor: pointer;
}

.bar {
  height: 3rem;
  width: 3rem;
  margin: 1rem;
  cursor: pointer;
  background-color: rgba(89, 175, 245, 0.815);
  border: 0.19rem solid rgba(89, 175, 245, 0.815);
  border-radius: 50%;
  transition: all 0.4s ease;
}

label:hover .bar {
  opacity: 0.9;
  transform: scale(1.2);
  background-color: #ffffff;
  border-color: #ffffff;
}

label:active .bar {
  transform: scale(1.6);
  border-color: #ecd44b;
  background-color: #ecd44b;
}

input[name="r"] {
  display: none;
}

.slider-item {
  width: 500%;
  height: 100%;
  display: flex;
  transition: all 0.6s ease;
  margin-bottom: 2.5rem;
}

.slide {
  width: 25%;
}

.slide img {
  width: 100%;
  height: 100%;
}

.descriptions {
  overflow: hidden;
}

.descriptions-inner {
  width: 500%;
  display: flex;
  transition: all 0.9s ease;
  padding: 2rem 0;
  margin-top: -6rem;
}

.description-item {
  width: 25%;
  color: #ffffff;
  font-size: 3rem;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r1:checked ~ .navigation label:nth-child(1) div {
  background-color: black;
}

#r2:checked ~ .s1 {
  margin-left: -100%;
}

#r2:checked ~ .navigation label:nth-child(2) div {
  background-color: black;
}

#r3:checked ~ .s1 {
  margin-left: -200%;
}

#r3:checked ~ .navigation label:nth-child(3) div {
  background-color: black;
}

#r4:checked ~ .s1 {
  margin-left: -300%;
}

#r4:checked ~ .navigation label:nth-child(4) div {
  background-color: black;
}

#r5:checked ~ .s1 {
  margin-left: -400%;
}

#r5:checked ~ .navigation label:nth-child(5) div {
  background-color: black;
}
@media (max-width: 1440px) {
  .container {
    width: 80%;
  }

  .bar {
    height: 2rem;
    width: 2rem;
  }
}

@media (max-width: 992px) {
  .container {
    width: 90%;
  }

  .navigation {
    align-self: center;
    margin-bottom: 0;
  }

  .descriptions-inner {
    margin-top: 0;
  }

  .bar {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .slider-item {
    margin-bottom: 0;
  }
}

@media (max-width: 586px) {
  .container {
    width: 95%;
  }

  .slider {
    border: 0.2em solid #ffffff;
  }

  .bar {
    height: 0.5rem;
    width: 0.5rem;
    margin: 0.2rem;
    border: 0.1rem solid rgba(89, 175, 245, 0.815);
  }

  label {
    padding: 1rem 0;
  }

  .description-item {
    font-size: 1.5rem;
  }

  .descriptions-inner {
    padding: 1rem 0;
  }
}

